.footer {
    background-color: #27556F;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.footerConteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footerSocial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-top: 86px;
    padding-bottom: 85px;
}

.footerSocial .imagem {
    filter: invert(1) brightness(2);
    padding-bottom: 37px;
}

.footerSocial p {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    width: 397px;
    padding-top: 36px;
    padding-bottom: 38px;
    width: 292px;
    padding: 0px 10px;
    text-align: center;
}

.footerSocial h4 {
    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 47px;
    padding-bottom: 25px;
}

.footerIcons img {
    padding: 7px;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    color: #ffffff;
    
}

.footerLinks h3 {
    padding-bottom: 30px;
}

.footerLinks ul li a {
    color: #ffffff;
    padding-bottom: 23px;
}

.footerLinks ul li {

    padding-bottom: 12px;
}

.footerContato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 310px;
    font-family: "Noto Sans", sans-serif;
    color: #ffffff;
    position: relative;
    padding: 50px 50px;
    text-align: start;

}

.footerContato .copyright {
    position: absolute;
    right: 20;
    bottom: 0;
    padding-right: 20px;
    font-size: 14px;

}

.footerContato h3 {
    padding-bottom: 37px;
}

.footerContato p {
    padding-bottom: 14px;
}

.footerContato p:nth-of-type(1),
.footerContato p:nth-of-type(2) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
    margin-bottom: 14px;
}

.footerContato p img {
    padding-right: 15px;
}

.rodape {
    background-color: #317a9c80;
    height: 61px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    text-align: center;
}


@media screen and (min-width: 1023px) {
    footer .footer {
        display: flex;
    }

    footer .footerConteiner {
        flex-direction: row;
        margin-left: 150px;
    }

    footer .footerContato{
        padding-right: 350px;
    }

    footer .footerContato .copyright {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        margin-right: -450px;
        bottom: 110px;
    }
}